<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Tunr</title>
  </head>
  <body>
    <h1>Tun.r</h1>
    <nav>
      <a href="/artists">Artists</a>
      <a href="/songs">Songs</a>
    </nav>
    <%= yield %>

  </body>
</html>
