<h1>The greatest music library of all time!</h1>
<a href="artists/new">Add New Artist</a>

<% @artists.each do |artist| %>
  <p><a href="artists/<%= artist.id%>"><%= artist.name %></a></p>

<!--  <img src="<%= artist.photo_url%>"> -->

<% end %>
