<form method='post' action='/artists'>
  <input type='text' name='name' placeholder="Artists Name">
  <input type='text' name='photo_url' placeholder="Upload Artist Image">
  <input type='text' name='nationality' placeholder="Nationality">
  <input type='submit'>
</form>

<form method='put' action='/artist/<id here>'>
  <input type="hidden" name="_method" value="put">
</form>
